.hero1 {
  background-image: url(C:\Users\ralph\OneDrive\Desktop\Capstone\skularph_front\public\homepics\background1.png);
  display: flex !important;
  flex-direction: column !important;
  justify-content: center  !important;
  align-items: center !important;
  width: 100% !important;
  height: 100vh !important;
  opacity: 100% !important;
  background-color: black !important;
}
.hero1-img {

  background-repeat: no-repeat !important;
  background-size: cover  !important;
  background-position: center top !important;
  padding-left: 10%;
}
.student1{
  height: 679px !important;
  object-fit: cover !important;
  width: 409px !important;
  margin-bottom: -30% !important;
}

.hero2 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: top  !important;
  align-items: left !important;
  width: 100% !important;
  height: 100vh !important;
  opacity: 100% !important;
  background-color: #73ABF3DE !important;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
 .numbering {
  color: #0B121A;
  size: 21px !important;
 }

 .background3 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center  !important;
  align-items: center !important;
  width: 100% !important;
  height: 100vh !important;
  opacity: 100% !important;
 }